.composicao
    color: $branco
    .titulo
        padding: 20px
        text-transform: uppercase
        text-align: center
        font-weight: $bold
        span
            color: $verde
    
    .texto
        text-align: justify
        font-size: 15px
    
    .simbolo
        color: $verde
        margin: 10px
    
.especialidades
    text-align: center
        
